# Build results
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code settings
.vscode/

# Rider settings
.idea/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# NuGet packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
!**/packages/build/
!**/packages/repositories.config

# DotCover
*.dotCover

# Logs
*.log

# Others
*.vspscc
*.vssscc
*.dbmdl
*.pdb

# Resharper
_ReSharper*/
*.[Rr]e[Ss]harper

# Test results
TestResults/
*.VisualState.xml
*.cache
*.testsettings
*.vsmdi
*.psess
*.vsp
*.vspx
*.sap

# Local history for Visual Studio
.localhistory/

# Windows image file caches
Thumbs.db
ehthumbs.db

# OS generated